[submodule "zshrc"]
	path = submodules/zshrc
	url = git@github.com:wgallios/zshrc.git
[submodule "tmux"]
	path = submodules/tmux
	url = git@github.com:wgallios/tmux.git
[submodule "bashrc"]
	path = submodules/bashrc
	url = git@github.com:wgallios/bashrc.git
[submodule "oh-my-zsh-powerline"]
	path = submodules/oh-my-zsh-powerline
	url = git@github.com:wgallios/oh-my-zsh-powerline-theme.git
[submodule "vim"]
	path = submodules/vim
	url = https://github.com/wgallios/Vim-Settings
[submodule "zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = git@github.com:wgallios/zsh-autosuggestions.git
[submodule "rainbow.sh"]
	path = submodules/rainbow.sh
	url = git@github.com:wgallios/rainbow.sh.git
[submodule "awesome/batteryinfo"]
	path = awesome/batteryinfo
	url = git@github.com:wgallios/awesome-batteryInfo.git
