[submodule "zshrc"]
	path = zshrc
	url = git@github.com:wgallios/zshrc.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:wgallios/tmux.git
[submodule "bashrc"]
	path = bashrc
	url = git@github.com:wgallios/bashrc.git
[submodule "oh-my-zsh-powerline"]
	path = oh-my-zsh-powerline
	url = git@github.com:wgallios/oh-my-zsh-powerline-theme.git
[submodule "vim"]
	path = vim
	url = https://github.com/wgallios/Vim-Settings
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git@github.com:wgallios/zsh-autosuggestions.git
[submodule "rainbow.sh"]
	path = rainbow.sh
	url = git@github.com:wgallios/rainbow.sh.git
