[Desktop Entry]
Version=0.0.0
Type=Application
Name=Set Primary Desktop
Comment=Automated Desktop Customization Setup
Exec=~/.ubuntu/build/Ubuntu\ Setup
Icon=~/.ubuntu/imgs/config-icon.png
Path=
Terminal=false


